<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre-Producto-Detalle</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel = "stylesheet" href="/css/normalizar.css"/>
    <link rel = "stylesheet" href="/css/styles.css"/>
</head>
<body>
    <header class="header-2">
        <img src="/images/logo-mercado-liebre.svg" alt="Sin imagen">
        <label>
            <button  type="submit"><i class="fab fa-sistrix buscar"></i></button><input class="buscar"type="text" placeholder="¿Que estas buscando?">
        </label>    
        <h3>Compra en cuotas y sin tarjetas de credito.<i class="fas fa-hand-holding-usd"></i></h3>
    </header>   
    <main>
        <article class="card pad border-simple">
            <img class="img-producto"src="/images/img-cafetera-moulinex.jpg" alt="falta imagen">                        
            <div class="card-detalle">
                <div class="detalle font-1">
                    <ul>
                        <li>Hasta una hora de temperatura especial</li>
                        <li>Diseño y colores intensos</li>
                        <li>Repuesto universal-ajustable</li>
                    </ul>
                </div>       
                <p class="precio">$46790</p>
                <p class="descuento">40% off</p>
                <p class="descripcion-1">Cafetera Moulinex</p>
                <button class="enviar" type="submit">Enviar<i class="fa-solid fa-cart-shopping"></i></button>
            </div>
        </article>
        <article class="card pad-2 border-simple">
            <h3>Volver a la pagina principal de <a href="/">Mercado Liebre</a></h3>

        </article>
       
    </main>
</body>
</html>