<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mercado Liebre</title>
  
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel = "stylesheet" href="/css/normalizar.css"/>
    <link rel = "stylesheet" href="/css/styles.css"/>
</head>
<body>
    
    <header class="main-header bg-yellow">
      <div class="main-header-top-bar">
        <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Mercado Liebre" />
        <input class="w-50"
                type="text"
                placeholder="Buscá productos por nombre, marcas o palabras clave"
              />
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
      
        <h2 class="copy-header">
          <i class="fa-solid fa-hand-holding-dollar"></i>
          Comprá en cuotas y sin
              tarjeta de crédito
        </h2>
      </div>  
      <nav class="main-nav-bar">
        <div class="main-header-top-bar">
        <ul class="">
          <li><a class="" href="#">Ofertas</a></li>
          <li><a class="" href="#">Tiendas Oficiales</a></li>
          <li><a class="" href="#">Vender</a></li>
          <li><a class="" href="#">Ayuda</a></li>
        </ul>
        <ul class="">
          <li>
            <a class="" href="/registrar"
                    >Crea tu cuenta <i class="fa-solid fa-address-card"></i
                  >
            </a>
          </li>
          <li>
            <a class="" href="/login"
                    >Ingresá <i class="fa-solid fa-right-to-bracket"></i
                  >
            </a>
          </li>
          <li>
            <a class="" href="#"
                    >Mis Compras <i class="fa-solid fa-basket-shopping"></i
                  >
            </a>
          </li>
        </ul>
        </div>
      </nav>
      <div class="text-center hamburger-btn">
        <i class="fa-solid fa-bars p-1 bg-blue radius-1 color-white bold"></i>
      </div>
          
    </header>
    <main class="display p-1 vw-90 mx-auto">
        <h2 class="title">Basado en tu última visita</h2>
        <section class="display-card py-1 flex flex-wrap gap">
         
          <article class="d-card text-center bg-white my-1 product-shadow">
            <img
              class="w-100"
              src="/images/img-cafetera-moulinex.jpg"
              alt="Cafetera Moulinex"
            />
            <div class="bt-1 border-grey p-1 flex flex-wrap relative">
              <i class="fa-solid fa-cart-shopping camion-icon"></i>
              <p class="text-xl">$6.770</p>
              <p class="color-green text-lg">40% OFF</p>
              <h3 class="text-lg description">Cafetera Moulinex</h3>
            </div>
          </article>
          <article class="d-card text-center bg-white my-1 product-shadow">
            <img
              class="w-100"
              src="/images/img-macbook-pro-2019.jpg"
              alt="Macbook Pro 2019"
            />
            <div class="bt-1 border-grey p-1 relative">
              <i class="fa-solid fa-cart-shopping camion-icon"></i>
              <p class="text-xl">$230.000</p>
              <p class="color-green text-lg">20% off</p>
              <h3 class="text-lg description">MacBook Pro 2019</h3>
            </div>
          </article>
          <article class="d-card text-center bg-white my-1 product-shadow">
            <img
              class="w-100"
              src="/images/img-samsung-galaxy-s10.jpg"
              alt="Samsung Galaxy S10"
            />
            <div class="border-grey p-1 relative">
              <i class="fa-solid fa-cart-shopping camion-icon"></i>
              <p class="text-xl">$70.500</p>
              <p class="color-green text-lg">10% off</p>
              <h3 class="text-lg description">Samsung Galaxy S10</h3>
            </div>
          </article>
          <article class="d-card text-center bg-white my-1 product-shadow">
            <img
              class="w-100"
              src="/images/img-tv-samsung-smart.jpg"
              alt="Samsung Galaxy S10"
            />
            <div class="border-grey p-1 relative">
              <i class="fa-solid fa-cart-shopping camion-icon"></i>
              <p class="text-xl">$23.200</p>
              <p class="color-green text-lg">5% off</p>
              <h3 class="text-lg description">SmartTv Samsung 43"</h3>
            </div>
          </article>
        </section>
        <h2>Ofertas</h2>
        <section class="display-card p-1">
          
          <article class="d-card text-center bg-white my-1 product-shadow">
            <img
              class="w-100"
              src="/images/img-cafetera-moulinex.jpg"
              alt="Cafetera Moulinex"
            />
            <div class="border-grey p-1 relative">
              <i class="fa-solid fa-cart-shopping camion-icon"></i>
              <p class="text-xl">$6.770</p>
              <p class="color-green text-lg">40% OFF</p>
              <h3 class="text-lg description">Cafetera Moulinex</h3>
            </div>
          </article>
          <article class="d-card text-center bg-white my-1 product-shadow">
            <img
              class="w-100"
              src="/images/img-macbook-pro-2019.jpg"
              alt="Macbook Pro 2019"
            />
            <div class="border-grey p-1 relative">
              <i class="fa-solid fa-cart-shopping camion-icon"></i>
              <p class="text-xl">$230.000</p>
              <p class="color-green text-lg">20% off</p>
              <h3 class="text-lg description">MacBook Pro 2019</h3>
            </div>
          </article>
          <article class="d-card text-center bg-white my-1 product-shadow">
            <img
              class="w-100"
              src="/images/img-samsung-galaxy-s10.jpg"
              alt="Samsung Galaxy S10"
            />
            <div class="border-grey p-1 relative">
              <i class="fa-solid fa-cart-shopping camion-icon"></i>
              <p class="text-xl">$70.500</p>
              <p class="color-green text-lg">10% off</p>
              <h3 class="text-lg description">Samsung Galaxy S10</h3>
            </div>
          </article>
          <article class="d-card text-center bg-white my-1 product-shadow">
            <img
              class="w-100"
              src="/images/img-tv-samsung-smart.jpg"
              alt="Samsung Galaxy S10"
            />
            <div class="border-grey p-1 relative">
              <i class="fa-solid fa-cart-shopping camion-icon"></i>
              <p class="text-xl">$23.200</p>
              <p class="color-green text-lg">5% off</p>
              <h3 class="text-lg description">SmartTv Samsung 43"</h3>
            </div>
          </article>
        </section>
      </main>
    <footer class="pie">
        <ul class="text-center none-deco">
            <li class="pad">
                <i class="fa-regular fa-credit-card bg-blue-c font-xl"></i>
                <h4>Paga con tarjeta o en efectivo</h4>
                <h5>Con Mercado Liebre Cash, 
                    tenés cuotas sin interés con tarjeta o
                     en efectivo en puntos de pagos.¡Y siempre es seguro! </h5>
            </li>
            <li class="pad">
                <i class="fa-solid fa-cart-shopping bg-blue-c font-xl"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <h5>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
productos. Es un beneficio de Mercado Puntos.</h5>

            </li>
            <li class="pad">
                <i class="fas fa-hand-holding-usd bg-blue-c font-xl"></i>
                <h4>Seguridad, de principio a fin</h4>
                <h5>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
porque estás siempre protegid@.

                </h5>
            </li>
            <li class="pad"><h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4></li>
        </ul>
    </footer>
</body>
</html>