<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mercado Liebre</title>
  
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel = "stylesheet" href="/css/normalizar.css"/>
    <link rel = "stylesheet" href="/css/styles.css"/>
</head>
<body>
    <header class="header">
        <img src="/images/logo-mercado-liebre.svg" alt="Sin imagen">
        <label>
            <button  type="submit"><i class="fab fa-sistrix buscar"></i></button><input class="buscar"type="text" placeholder="¿Que estas buscando?">
        </label>    
        <h3>Compra en cuotas y sin tarjetas de credito.<i class="fas fa-hand-holding-usd"></i></h3>
       
        
        <ul class="link">
            <li><a href="/error">Ofertas </a><i class="fas fa-hand-holding-usd"></i></li>
            <li><a href="/error">Tienda Oficiales </a><i class="far fa-shopping-bag"></i></li>
            <li><a href="/error">Vender </a><i class="fas fa-hand-holding-usd"></i></li>
            <li><a href="/error">Ayuda </a><i class="far fa-question-circle"></i></li>
            <li><a href="/error">Crear tu cuenta </a><i class="fa-regular fa-user"></i></li>
            <li><a href="/error">Ingresar </a><i class="fa-regular fa-right-to-bracket"></i></li>
            <li><a href="/error">Mis compras </a><i class="fa-regular fa-cart-shopping"></i></li>
                
        </ul>
        <a href="/error" ><i class="fas fa-align-center btn"></i></a>
        
    </header>
    <main class="pad">
        <section>    
            <article>
                <a href="/error"><img  class="img-banner"src="/images/img-home-banner.jpg" alt=""></a>
                <h4>Todas las formas de pagos disponibles.</h4>
            </article>
        </section>    
        <section class="pad">
            <h1 class="titulo">Basados en tu última visita.</h1>
                <div class="contenedor pad">
                    <article class="card pad hv">
                        <img class="img-producto"src="/images/img-cafetera-moulinex.jpg" alt="falta imagen">
                
                        <h3>$46790</h3>
                        <p>40% off</p>
                        <h3>Cafetera Moulinex</h3>
                        <button type="submit">Comprar</button>
                    </article>
                    <article class="card pad hv">
                        <img class="img-producto" src="/images/img-macbook-pro-2019.jpg" alt="falta imagen">
                
                        <h3>$95980</h3>
                        <p>45$ off</p>
                        <h3>MacBook Pro 2019</h3>
                        <button type="submit">Comprar</button>
                    </article>
                    <article class="card pad hv">
                        <img class="img-producto" src="/images/img-tv-samsung-smart.jpg" alt="falta imagen">
                
                        <h3>$82390</h3>
                        <p>47% off</p>
                        <h3>Tv Smart 43"</h3>
                        <button type="submit">Comprar</button>
                    </article>
                    <article class="card hv">
                        <img class="img-producto" src="/images/img-samsung-galaxy-s10.jpg" alt="falta imagen">
                        <h3>$77790</h3>
                        <p>35% off</p>
                        <h3>Pro Samsung galaxy s10</h3>
                        <button type="submit">Comprar</button>
                    </article>
                    
                </div>
                <div class="contenedor pad">
                    <article class="card pad hv">
                        <img class="img-producto"src="/images/img-cafetera-moulinex.jpg" alt="falta imagen">
                
                        <h3>$46790</h3>
                        <p>40% off</p>
                        <h3>Cafetera Moulinex</h3>
                        <button type="submit">Comprar</button>
                    </article>
                    <article class="card pad hv">
                        <img class="img-producto" src="/images/img-macbook-pro-2019.jpg" alt="falta imagen">
                
                        <h3>$95980</h3>
                        <p>45$ off</p>
                        <h3>MacBook Pro 2019</h3>
                        <button type="submit">Comprar</button>
                    </article>
                    <article class="card pad hv">
                        <img class="img-producto" src="/images/img-tv-samsung-smart.jpg" alt="falta imagen">
                
                        <h3>$82390</h3>
                        <p>47% off</p>
                        <h3>Tv Smart 43"</h3>
                        <button type="submit">Comprar</button>
                    </article>
                    <article class="card hv">
                        <img class="img-producto" src="/images/img-samsung-galaxy-s10.jpg" alt="falta imagen">
                        <h3>$77790</h3>
                        <p>35% off</p>
                        <h3>Pro Samsung galaxy s10</h3>
                        <button type="submit">Comprar</button>
                    </article>
                    
                </div>
                <article class="pad">
                    <a href="/error"><img class="img-banner" src="/images/img-home-banner.jpg" alt=""></a>
                    <h4>Todas las formas de pagos disponibles.</h4>
                </article>
           
        </section>
            
        <section class="pad">    
           
            <h2><u>Seccion de Ofertas.</u></h2>
            <div class="contenedor pad">
            <article class="card hv">
                <img class="img-producto" src="/images/img-cafetera-moulinex.jpg" alt="falta imagen">
                
                <h3>$46770</h3>
                <p>40% off</p>
                <h3>Cafetera Moulinex</h3>
                <button type="submit">Comprar</button>
            </article>
            <article class="card hv">
                <img class="img-producto" src="/images/img-macbook-pro-2019.jpg" alt="falta imagen">
                
                <h3>$95780</h3>
                <p>45$ off</p>
                <h3>MacBook Pro 2019</h3>
                <button type="submit">Comprar</button>
            </article>
            <article class="card hv">
                <img class="img-producto" src="/images/img-tv-samsung-smart.jpg" alt="falta imagen">
                
                <h3>$72390</h3>
                <p>47% off</p>
                <h3>Tv Smart 43" Samsung</h3>
                <button type="submit">Comprar</button>
            </article>
            <article class="card hv">
                <img class="img-producto" src="/images/img-samsung-galaxy-s10.jpg" alt="falta imagen">
               <h3>$77097</h3>
               <p>35% off</p>
               <h3>Pro Samsung galaxy s10</h3>
               <button type="submit">Comprar</button>
            </article>
            </div>
            <div class="contenedor pad">
                <article class="card pad hv">
                    <img class="img-producto"src="/images/img-cafetera-moulinex.jpg" alt="falta imagen">
            
                    <h3>$46790</h3>
                    <p>40% off</p>
                    <h3>Cafetera Moulinex</h3>
                    <button type="submit">Comprar</button>
                </article>
                <article class="card pad hv">
                    <img class="img-producto" src="/images/img-macbook-pro-2019.jpg" alt="falta imagen">
            
                    <h3>$95980</h3>
                    <p>45$ off</p>
                    <h3>MacBook Pro 2019</h3>
                    <button type="submit">Comprar</button>
                </article>
                <article class="card pad hv">
                    <img class="img-producto" src="/images/img-tv-samsung-smart.jpg" alt="falta imagen">
            
                    <h3>$82390</h3>
                    <p>47% off</p>
                    <h3>Tv Smart 43"</h3>
                    <button type="submit">Comprar</button>
                </article>
                <article class="card hv">
                    <img class="img-producto" src="/images/img-samsung-galaxy-s10.jpg" alt="falta imagen">
                    <h3>$77790</h3>
                    <p>35% off</p>
                    <h3>Pro Samsung galaxy s10</h3>
                    <button type="submit">Comprar</button>
                </article>
                
            </div>
            <article>
                <a href="/error"><img class="img-banner" src="/images/img-home-banner.jpg" alt=""></a>
                <h4>Todas las formas de pagos disponibles.</h4>
            </article>

        </section>    
    </main>
    <footer class="pie">
        <ul class="pad">
            <li class="pad">
                <i class="fa-regular fa-credit-card"></i>
                <h4>Paga con tarjeta o en efectivo</h4>
                <h5>Con Mercado Liebre Cash, 
                    tenés cuotas sin interés con tarjeta o
                     en efectivo en puntos de pagos.¡Y siempre es seguro! </h5>
            </li>
            <li class="pad">
                <i class="fa-solid fa-cart-shopping"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <h5>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
productos. Es un beneficio de Mercado Puntos.</h5>

            </li>
            <li class="pad">
                <i class="fas fa-hand-holding-usd"></i>
                <h4>Seguridad, de principio a fin</h4>
                <h5>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
porque estás siempre protegid@.

                </h5>
            </li>
            <li class="pad"><h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4></li>
        </ul>
    </footer>
</body>
</html>