<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <style>
        body{
            background-color: rgb(229, 234, 238);
        }
        img{
            width: 100%;
        }
        a:hover{
            color: white;
        }
        p{
            color: rgb(6, 165, 6);
            font-weight: bold;
        }

        p:hover{
            color:rgb(18, 161, 228);
        }
    </style>
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="Sin imagen">
        <label>
            <input type="text" placeholder="Que estas buscas?">
        </label>    
        <h3>Compra en cuotas y sin tarjetas de credito.</h3>
       
        <nav>
            <ul>
                <li><a href="/error">Ofertas</a></li>
                <li><a href="/error">Tienda Oficiales</a></li>
                <li><a href="/error">Vender</a></li>
                <li><a href="/error">Ayuda</a></li>
                <li><a href="/error">Crear tu cuenta</a></li>
                <li><a href="/error">Ingresar</a></li>
                <li><a href="/error">Mis compras</a></li>
            </ul>
           
        </nav>
    </header>
    <main>
        <section>    
            <article>
                <a href="#"><img src="/images/img-home-banner.jpg" alt=""></a>
                <h4>Todas las formas de pagos disponibles.</h4>
            </article>
        </section>    
        <section>
            <h1><u>Basados en tu última visita.</u></h1>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="falta imagen">
                
                <h3>$6770</h3>
                <p>40% off</p>
                <h3>Cafetera Moulinex</h3>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="falta imagen">
                
                <h3>$45780</h3>
                <p>45$ off</p>
                <h3>MacBook Pro 2019</h3>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="falta imagen">
                
                <h3>$12390</h3>
                <p>47% off</p>
                <h3>Tv Smart 43"</h3>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="falta imagen">
               <h3>$47097</h3>
               <p>35% off</p>
               <h3>Celular Pro</h3>
            </article>
            <article>
                <a href="#"><img src="/images/img-home-banner.jpg" alt=""></a>
                <h4>Todas las formas de pagos disponibles.</h4>
            </article>
        </section>    
        <section>    
           
            <h2><u>Seccion de Ofertas.</u></h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="falta imagen">
                
                <h3>$6770</h3>
                <p>40% off</p>
                <h3>Cafetera Moulinex</h3>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="falta imagen">
                
                <h3>$45780</h3>
                <p>45$ off</p>
                <h3>MacBook Pro 2019</h3>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="falta imagen">
                
                <h3>$12390</h3>
                <p>47% off</p>
                <h3>Tv Smart 43"</h3>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="falta imagen">
               <h3>$47097</h3>
               <p>35% off</p>
               <h3>Celular Pro</h3>
            </article>
            <article>
                <a href="#"><img src="/images/img-home-banner.jpg" alt=""></a>
                <h4>Todas las formas de pagos disponibles.</h4>
            </article>
        </section>    
    </main>
    <footer>
        <ul>
            <li>
                <p><b>Paga con tarjeta o en efectivo</b></p>
                <h5>Con Mercado Liebre Cash, 
                    tenés cuotas sin interés con tarjeta o
                     en efectivo en puntos de pagos.¡Y siempre es seguro! </h5>
            </li>
            <li>
                <p>Envío gratis desde $ 2.500</p>
                <h5>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
productos. Es un beneficio de Mercado Puntos.</h5>

            </li>
            <li>
                <p>Seguridad, de principio a fin</p>
                <h5>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
porque estás siempre protegid@.

                </h5>
            </li>
            <li><p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p></li>
        </ul>
    </footer>
</body>
</html>