
.bg-yellow {
    background-color: #eac926;
}
.bg-dark-grey {
    background-color: #666;
}
  
.bg-grey {
    background-color: #ebebeb;
}
  
.bg-blue {
    background-color: #1259c3;
}
.bg-blue-c {
    color: #1259c3;
}
  
.bg-white {
    background-color: white;
}
  
.color-green {
   color: #39b54a;
}
.font-m {
    font-size: 12px;
}
.font-lg {
    font-size: 16px;
}
.font-xl {
    font-size: 18px;
}
.title {
    font-size: 24px;
}
.main-header {
    padding: 20px;
}
.logo{
    width: 200px;
}  
.main-nav-bar{
    display:none;
}
.copy-header{
    display: block;
    text-align: right;
    max-width: 300px;
    font-weight: 400;
}
.main-nav-bar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-nav-bar a{
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    font-size: 17px;
}  
.w-50 {
    width: 40%;
}
  
.vw-90 {
    width: 90vw;
}
  
.w-100 {
    width: 100%;
}
  
.bt-1 {
    
    border-width: 1px;    
}  
.border-grey {
    width: 80%;
    border-top: #ebebeb solid;
}
  
.bold {
    font-weight: bold;
}
  
.color-white {
    color: white;
}
  
.text-center {
    text-align: center;
}
  
.round {
    border-radius: 50%;
}
  
.radius-1 {
    border-radius: 5px;
}
  
.p-1 {
    padding: 8px;
}
  
.py-1 {
    padding-top: 10px;
    padding-bottom: 10px;
}
  
.my-1 {
    margin-top: 10px;
    margin-bottom: 10px;
}
  
.mx-auto {
   margin: 0 auto;
}
  
.product-shadow:hover {
    box-shadow: 0px 0px 10px  rgb(100, 100, 100);
}
.none-deco{
    list-style: none;
}
.display h3{
    display:none;
    flex-direction: column;
}
.d-card:hover h3{
    display:block;
    
}
.display-card{
    gap:5px;
}
.flex{
    display:flex;
}
.flex-column{
    flex-direction: column;
}
.flex-block{
    display: block;
}
form {
    padding-top: 50px;
    height: 50vh;
}
.w-300{
    max-width: 300px;
}
.h-1{
    line-height: 2;
}
.camion-icon {
    color: green;
    border: green solid 1px;
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    right: 15px;
    top: -15px;
}
.relative {
    position: relative;
}
@media (min-width: 481px) {
    /* tablet */
    .nav-link{
        display: block;
    }
    .display-card{
        display: flex;
        flex-direction: row;
    }
   
}
  
@media (min-width: 769px) {
    /* laptop */
    .main-header-top-bar {
        display: flex;
        justify-content: space-between;
    }
    .copy-header{
        max-width: 350px;
    }
    .hamburger-btn{
        display: none;
    }
    .product-shadow {
      box-shadow: none;
    }
    .main-nav-bar{
        display: flex;
        justify-content: space-between;
    }
    .main-nav-bar ul{
        display: flex;
    }
    .main-nav-bar li{
        margin: 0 5px;
    }
    .description {
      display: none;
    }
}
  
@media (min-width: 1281px) {
    /* desktop */
}