<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre-Producto-Detalle</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel = "stylesheet" href="/css/normalizar.css"/>
    <link rel = "stylesheet" href="/css/styles.css"/>
</head>
<body>
    <%- include('partials/header')%>
    <main class="main display p-1  mx-auto font-2em mb-10">
      <div class="detalle py-1">
          <article class="py-1 flex">
            <img class="img-producto wp-80"src="/images/img-cafetera-moulinex.jpg" alt="falta imagen">                        
            <div class="card-detalle">
                <div class="detalle font-1">
                    <ul>
                        <li>Hasta una hora de temperatura especial</li>
                        <li>Diseño y colores intensos</li>
                        <li>Repuesto universal-ajustable</li>
                    </ul>
                </div>       
                <p class="precio">$46790</p>
                <p class="descuento">40% off</p>
                <p class="descripcion-1">Cafetera Moulinex</p>
                <button class="enviar" type="submit">Enviar<i class="fa-solid fa-cart-shopping"></i></button>
            </div>
          </article>
      </div>   
    </main>
    <%- include('partials/footer')%>
</body>
</html>