<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre-Registrar</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel = "stylesheet" href="/css/normalizar.css"/>
    <link rel = "stylesheet" href="/css/styles.css"/>
</head>
<body>
  <%- include('partials/header')%>
<main class="main mx-auto py-1 bg-grey">
  <div class="mx-auto flex-block py-1 align-center w-300">
    <form action="/" method="post" class="mx-auto flex flex-column h-1 bg-grey py-1" >
      <label for="nombre">Usuario</label>
      <input type="text" name="nombre" id="nombre" placeholder="Nombre" required>
      <label for="email">E-mail</label>
      <input type="email" name="email" id="email" placeholder="ejemplo@ejemplo.com" required>
      <label for="password">Contrase単a</label>
      <input type="password" name="password" id="password" placeholder="contrase単a" required>
      <label for="password">Repetir contrase単a</label>
      <input type="password" name="password" id="password" placeholder="contrase単a" required>
      <div>
        <h4>Te gustaria recibir info de:</h4>
        <label for="electro">Electro</label>
        <input type="checkbox" name="electro" value="electro">
        <label for="hogar">Hogar</label>
        <input type="checkbox" name="hogar" value="hogar">
        <label for="construccion">Construccion</label>
        <input type="checkbox" name="Construccion" value="construccion">
        
      </div>
      <div>
        <h5>Queres saber mas..</h5>
        <select name="novedades">
          <option value="novedades" selected>Novedades</option>
          <option value="viajes">Viajes</option>
          <option value="gastronomia" >Gastronomia</option>
          <option value="criptomonedas">Criptomonedas</option>
        </select>
      </div>
      <button type="submit" class="bg-blue p-1 bold mg-2 hv-btn">Registrar</button>
      
    </form>
</main>
<%- include('partials/footer')%>
</body>
</html>