<footer class="pie bg-yellow py-1 font-2em mb-10">
    <ul class="text-center none-deco">
        <li class="pad">
            <i class="fa-regular fa-credit-card bg-blue-c font-xl"></i>
            <h4>Paga con tarjeta o en efectivo</h4>
            <h5>Con Mercado Liebre Cash, 
                tenés cuotas sin interés con tarjeta o
                 en efectivo en puntos de pagos.¡Y siempre es seguro! </h5>
        </li>
        <li class="pad">
            <i class="fa-solid fa-cart-shopping bg-blue-c font-xl"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <h5>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
productos. Es un beneficio de Mercado Puntos.</h5>

        </li>
        <li class="pad">
            <i class="fas fa-hand-holding-usd bg-blue-c font-xl"></i>
            <h4>Seguridad, de principio a fin</h4>
            <h5>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
porque estás siempre protegid@.

            </h5>
        </li>
        <li class="pad"><a href="/">Copyright © 1999-2020 MercadoLiebre S.R.L.</a></li>
    </ul>
</footer>