<header class="main-header bg-yellow">
    <div class="main-header-top-bar">
      <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Mercado Liebre" />
      <h2 class="copy-header">
        <i class="fa-solid fa-hand-holding-dollar"></i>
        Comprá en cuotas y sin tarjeta de crédito
      </h2>
    </div>
    <div class="buscar">
      <input class="w-50"
            type="text"
            placeholder="Buscá productos por nombre, marcas o palabras clave"
          />
      <button><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>   
    <nav class="main-nav-bar">    
      <ul class="">
        <li><a class="" href="/">Ofertas</a></li>
        <li><a class="" href="#">Tiendas Oficiales</a></li>
        <li><a class="" href="#">Vender</a></li>
        <li><a class="" href="#">Ayuda</a></li>
      </ul>
      <ul class="">
        <li>
          <a class="" href="/registrar"
                  >Crea tu cuenta <i class="fa-solid fa-address-card"></i
                >
          </a>
        </li>
        <li>
          <a class="" href="/login"
                  >Ingresá <i class="fa-solid fa-right-to-bracket"></i
                >
          </a>
        </li>
        <li>
          <a class="" href="#"
                  >Mis Compras <i class="fa-solid fa-basket-shopping"></i
                >
          </a>
        </li>
      </ul>
    </nav>
    <div class="text-center hamburger-btn">
      <i class="fa-solid fa-bars p-1 bg-blue radius-1 color-white bold"></i>
    </div>     
  </header>